.logo {
    background-size: 300px;
    background-repeat: no-repeat;
    height: 120px;
    background-position: 50%;
    position: absolute;
    min-width: 300px;
    display: flex;
    z-index: 1000;
    margin-bottom: 600px;
}

/* @import url('http://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f5fffe;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}

.container {
    position: absolute;
    min-width: 850px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
    margin-top: 80px;
    justify-content: space-between;
}

.container .contactInfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #095a55;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
    border-radius: 22px;
    right: 700px;
}

.nav {
    position: absolute;
    width: 350px;
    height: 470px;
    z-index: 10000;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
    border-radius: 22px;
    left: 700px;
    top: 40px;
}

.container .contactInfo h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.container .contactInfo ul.info {
    position: relative;
    margin: 20px 0;
}

.container .contactInfo ul.info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.container .contactInfo ul.info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

/* for gmail */
.container .contactInfo ul.info li span a {
    color: #fff;
    text-decoration: none;
    width: 30px;
    min-width: 30px;

}

.container .contactInfo ul.info li span:nth-child(1) img {
    max-width: 100%;
    filter: invert(1);
}

.container .contactInfo ul.info li span:nth-child(2) {
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}

.container .contactInfo ul.sci {
    position: relative;
    display: flex;
}

.container .contactInfo ul.sci li {
    list-style: none;
    margin-right: 15px;
}

.container .contactInfo ul.sci li a {
    text-decoration: none;
}

.container .contactInfo ul.sci li a img {
    filter: invert(1);
}

.container .contactForm {
    position: absolute;
    padding: 70px 50px;
    padding-left: 200px;
    padding-right: 100px;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    margin: auto;
    width: 100%;
}

.container .contactForm h2 {
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}

.container .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-right: 80px;
}

.container .contactForm .formBox .inputBox {
    position: relative;
    margin-bottom: 35px;
}

.container .contactForm .formBox .inputBox.w50 {
    width: 47%;
}

.container .contactForm .formBox .inputBox.w100 {
    width: 100%;
}

.container .contactForm .formBox .inputBox input,
.container .contactForm .formBox .inputBox textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}

.container .contactForm .formBox .inputBox textarea {
    height: 120px;
}

.container .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.container .contactForm .formBox .inputBox input:focus~span,
.container .contactForm .formBox .inputBox input:valid~span,
.container .contactForm .formBox .inputBox textarea:focus~span,
.container .contactForm .formBox .inputBox textarea:valid~span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #095a55;
    font-weight: 500;
}

/* Css for the submit button */
.container .contactForm .formBox .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: #095a55;
    border-radius: 20px;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;

}

.container .contactForm .formBox .inputBox input[type="submit"]:hover {
    background: #0d9480;
}

.logo {
    top: 10px;
    left: 50px;
    position: absolute;
    height: 100px;
}

.login a {
    position: absolute;
    top: 40px;
    right: 250px;
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bolder;
    z-index: 4000000;
}

.about a {
    position: absolute;
    top: 40px;
    right: 150px;
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bolder;
    z-index: 4000000;
}

.contact a {
    position: absolute;
    top: 40px;
    right: 50px;
    text-decoration: none;
    color: white;
    font-size: larges;
    font-weight: bolder;
    z-index: 4000000;
}

.main-header {
    position: absolute;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: solid 2px black;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 40px;
}

.main{
    position: absolute;
    top: 20px;
    z-index: 1;
    right: 100px;
}

.main ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

.main li a{
    color: black;
    text-decoration: none;
}

.logo a img{
    position: absolute;
    top: 0px;
    width: 250px;
}

.button{
    background-color: white;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

.button:hover{
    background-color: #f4f4f4;
    cursor: pointer;
    transition-delay: 80ms;
}

.linked {
    position: absolute;
    right: 60px;
    bottom: 60px;
    display: flex;
    flex-direction: row;
    font-size: 27px;
    gap: 10px;
    color: black;
}

.twitter:hover {
    color: black;
    scale: 1.3;
}

.instagram:hover {
    color: palevioletred;
    scale: 1.3;
}

.facebook:hover {
    color: blue;
    scale: 1.3;
}

